modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
packages = ["zip", "unzip"]

[userenv]

[userenv.production]
PLUGIN_BASE_URL = "https://table-importer-tool.replit.app"

[userenv.shared]
TMP_SIGNING_KEY = "9f1667eb6e24e5af53b8af01e39f65140dd2c558eb52219533ae02edf058306b"
